.bannerpane {
  background:$main-accent;
  background:linear-gradient(135deg, darken($main-accent, 20%) 0%, $main-accent 50%, lighten($main-accent, 20%) 100%);
  color:white;
  
  div[class*='col-'] {
    padding-top:6rem;
    padding-bottom:6rem;
  }
}